@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    color: white;
}

body, html {
    filter: grayscale(0);
    height: 100%;
    line-height: 1.8;
    transition: all 0.5s

}

html.grayscale {
    filter: grayscale(100%);
    transition: all 0.5s
}

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../img/snake_skin.jpeg");
    min-height: 100%;
}

.card {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    max-width: 500px;
}
.table{
    color: black;
}