<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
Test<br>
Test<br>
Test<br>
<canvas id="gameCanvas" width="150" height="150" style="border:1px solid #000000;">Fallback</canvas>

<!--<script>-->
<!--    var c = document.getElementById("gameCanvas");-->
<!--    var ctx = c.getContext("2d");-->
<!--    ctx.beginPath();-->
<!--    ctx.arc(95,50,40,0,2*Math.PI);-->
<!--    ctx.stroke();-->
<!--</script>-->

<script th:src="@{/js/GameScript.js}" type="text/javascript"></script>
</body>
</html>