<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel='stylesheet' type='text/css' href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Wrong user name or password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <header class="bgimg-1 w3-display-container w3-grayscale-min">
        <div class="w3-card-4 card">

            <h1>Wrong user name or password</h1>

            <p th:text="'User name you typed in: ' + ${user}"></p>
            <a th:href="@{signin}">Back to the Sign in page.</a><br>
            <a th:href="@{signup}">Sign up.</a>
        </div>
    </header>
</body>
</html>